In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('50_companies.csv')

In [4]:
dataset.describe()

       Major&Minor Works      R&D Spend  Marketing Spend         Profit
count          50.000000      50.000000        50.000000      50.000000
mean        94221.615600  136344.639600    231525.097800  137012.639200
std         45902.256482   28017.802755    122290.310726   40306.180338
min         20500.000000   66283.140000     20500.000000   39681.400000
25%         60436.370000  118730.875000    149800.132500  115138.902500
50%         93551.080000  137699.795000    233216.240000  132978.190000
75%        122102.800000  159842.180000    319969.085000  164765.977500
max        185849.200000  197645.560000    492284.100000  217261.830000

In [5]:
dataset.shape

(50, 5)

In [6]:
dataset.columns

Index(['Major&Minor Works', 'R&D Spend', 'Marketing Spend', 'Location',
       'Profit'],
      dtype='object')

In [7]:
X = dataset.iloc[:, :-1].values

In [8]:
Y = dataset.iloc[:, 4].values

In [9]:
#Encoding Categorical Data in the datasets
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()

In [10]:
X[:, 3] = labelencoder.fit_transform(X[:, 3])

array([[185849.2, 151897.8, 492284.1, 0],
       [183097.7, 166377.59, 464398.53, 1],
       [173941.51, 116145.55, 428434.54, 2],
       [164872.41, 133671.85, 403699.62, 0],
       [162607.34, 106391.77, 386668.42, 2],
       [152376.9, 114814.71, 383361.36, 0],
       [155115.46, 162198.87, 148216.82, 1],
       [150798.13, 160530.06, 344376.68, 2],
       [141042.52, 163718.95, 332113.29, 0],
       [143834.88, 123679.17, 325481.62, 1],
       [122413.08, 125594.11, 249660.95, 2],
       [121171.96, 106790.61, 270244.55, 1],
       [114363.75, 142320.38, 270339.44, 2],
       [112492.39, 150495.07, 273164.93, 1],
       [140443.24, 171547.42, 277012.92, 2],
       [135023.61, 137616.84, 282276.23, 0],
       [98513.11, 136597.55, 284846.06, 1],
       [115157.16, 160077.58, 303074.31, 0],
       [112249.16, 129175.79, 315419.57, 2],
       [106919.7, 168514.11, 20500.0, 0],
       [96753.86, 128867.3, 319164.47, 1],
       [98889.47, 168773.43, 320237.29, 0],
       [94494.56, 137782.75, 323819.26, 2],
       [88032.53, 120751.03, 325268.73, 2],
       [97544.01, 114281.34, 161074.81, 0],
       [85164.71, 154553.16, 158462.62, 1],
       [95828.87, 159135.98, 154550.07, 2],
       [92607.6, 142864.55, 373683.81, 0],
       [86551.52, 197645.56, 138648.2, 2],
       [86105.48, 168032.06, 127638.38, 0],
       [82494.48, 130641.28, 111631.24, 2],
       [81636.38, 167701.92, 108718.23, 0],
       [83908.86, 144219.61, 66585.25, 1],
       [75993.95, 118057.49, 235134.81, 2],
       [66926.07, 172693.92, 231297.67, 1],
       [66514.02, 100047.44, 226017.64, 0],
       [49163.76, 142056.21, 221626.82, 2],
       [64569.95, 66283.14, 217529.42, 1],
       [40729.59, 80947.93, 205765.1, 0],
       [59058.51, 97982.09, 195499.3, 1],
       [49254.33, 133546.05, 193295.67, 1],
       [48392.92, 99710.77, 184970.71, 2],
       [44140.93, 111189.63, 168501.11, 1],
       [36005.73, 142382.3, 56034.17, 0],
       [42677.74, 169806.14, 48834.72, 1],
       [21500.23, 139153.04, 22403.93, 0],
       [21815.46, 130816.21, 317614.46, 2],
       [20500.0, 150426.92, 20500.0, 1],
       [21042.05, 66743.15, 20500.0, 0],
       [20500.0, 131983.8, 65673.06, 1]], dtype=object)

In [11]:
X.shape

(50, 4)

In [16]:
X[:, 3] = labelencoder.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).toarray()
X =X[:, 1:]   #Avoiding the Dummy Variable Trap

In [17]:
X

array([[1., 1., 0., ..., 1., 1., 0.],
       [1., 1., 0., ..., 1., 1., 0.],
       [1., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 1., 1., 0.],
       [1., 1., 0., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.]])

In [ ]:
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).toarray()

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
#Preprocess the dataset

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

In [21]:
#fitting multiple dataset into Linear Regression 

from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [22]:
y_pred = regressor.predict(x_test) #Predicting the test set result

In [23]:
print(y_pred, y_test)

[121583.93259919 116562.08372327 121583.93259919 124680.36092666
 121583.93259919 130430.83305326 131670.5351612  130430.83305326
 121583.93259919 121583.93259919] [128282.38 169259.4  171121.95 102798.83 216050.39 130008.31 106229.06
 122483.56 135352.25 191187.94]